## Sellable

In [32]:
# P A N D A S and N U M P Y
import numpy as np
import pandas as pd
import pandas_profiling

#from myfunctions import myfunc
import myfunctions as myfunc

<div class="alert alert-block alert-info">
<b>Using Pandas DataFrames</b> 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.&nbsp;&nbsp;&nbsp;Use the .read_csv() function to read the csv file
</div>

In [60]:
# Load the data
df = pd.read_csv('./Datasets/Sample Data (Modified).csv')

In [61]:
df.head()

,id,gnaf_address_id,street,suburb,postcode,state_code,latitude,longitude,type,land_sqm,floorplan
0,28722,8503832,72 Madagascar Drive,Kings Park,2148,NSW,-33.738937,150.902040,house,561.0,True
1,28723,8482135,1 Kauai Place,Kings Park,2148,NSW,-33.742233,150.911124,house,559.0,True
2,28724,7866709,2/53 Cobham Street,Kings Park,2148,NSW,-33.741886,150.902220,unit,NaN,True
3,28725,10510214,181 Madagascar Drive,Kings Park,2148,NSW,-33.738475,150.911142,house,NaN,True
4,28726,11825056,91 Faulkland Crescent,Kings Park,2148,NSW,-33.741895,150.904517,house,559.0,True

In [ ]:
df.dtypes

In [ ]:
myfunc.file_details(df)

In [ ]:
pandas_profiling.ProfileReport(df)

In [ ]:
myfunc.file_overview(df)

<div class="alert alert-block alert-info">
<b>Change abbreciated street type</b> 
</div>

In [34]:
def abrev_to_full(value):
    print ('---------->\t', value)
    if ' ' in value[-3]:
        if 'St' in value[-2:]:            
            dd = value.strip(' St')
            value = dd + ' Street'
        if 'Rd' in value[-2:]:            
            dd = value.strip(' Rd')
            value = dd + ' Road'
        if 'Av' in value[-2:]:            
            dd = value.strip(' Av')
            value = dd + ' Avenue'
        if 'Pl' in value[-2:]:            
            dd = value.strip(' Pl')
            value = dd + ' Place'
        print ('The value should have changed\t', value) 
    return value

<div class="alert alert-block alert-info">
<b>Find Unique last 3 characters in a street name</b> 
</div>

In [35]:
# Extract the Street type and find unique
output = []
for street in df.street:
    street_type = []
    extract_street_type = []
    street_reverse = street[::-1] 
    for character in street_reverse:
        if character != ' ': 
            extract_street_type.append(character)
        else: 
            street_type = ''.join(extract_street_type[::-1])
            if street_type not in output:
                output.insert(0,(street_type))
            break
print(output)

['road', 'Circuit', 'Boulevard', 'Avenue,', 'Glade', 'drive', 'Lane', 'street', 'STREET', 'ROAD', 'AVENUE', 'Ave', 'Rd', 'Way', 'Parade', 'Grove', 'Road', 'St', 'Avenue', 'Close', 'Crescent', 'Street', 'Place', 'Drive']

In [36]:
df_new_street = []
count = 0
for value in df.street[:]: 
#     abrev_to_full(value)                         # Function that will replace the below code
#     print (value, '\t<-----------')
    if ' ' in value[-3]:
        if 'St' in value[-2:]:   
            print (value, '-2-\t', value[-2:])
            dd = value.strip(' St')
            print (dd)
            value = dd + ' Street'
            print (value, '---\t', value[-2])
        if 'Rd' in value[-2:]:            
            dd = value.strip(' Rd')
            value = dd + ' Road'
        if 'Pl' in value[-2:]:            
            dd = value.strip(' Pl')
            value = dd + ' Place'
    if ' ' in value[-4]:
        if 'Ave' in value[-3:]: 
            dd = value.strip(' Ave')
            value = dd + ' Avenue'

    suburb = df.suburb.iloc[count].replace(' ', '-')
    hold_field = str(df.id.iloc[count]) + ',' + value.lower().replace(' ', '-').replace('/', '-') + '-' + suburb + '-' + df.state_code.iloc[count] + '-' + str(df.postcode.iloc[count])
    count += 1
    df_new_street.append(hold_field)

df1 = pd.DataFrame(df_new_street, columns=['a'])

df1.to_csv('./Datasets/df_new_street.csv')

28 Bimbil St -2-	 St
28 Bimbil
28 Bimbil Street ---	 e
1/5 Mantaka St -2-	 St
1/5 Mantaka
1/5 Mantaka Street ---	 e
37/26 Clifton St -2-	 St
37/26 Clifton
37/26 Clifton Street ---	 e
8 Ash St -2-	 St
8 Ash
8 Ash Street ---	 e
22 Anne St -2-	 St
22 Anne
22 Anne Street ---	 e
37/39 Patricia St -2-	 St
37/39 Patricia
37/39 Patricia Street ---	 e
102 Myrtle St -2-	 St
102 Myrtle
102 Myrtle Street ---	 e
13/26 Clifton St -2-	 St
13/26 Clifton
13/26 Clifton Street ---	 e
30/39 Patricia St -2-	 St
30/39 Patricia
30/39 Patricia Street ---	 e
8/26 Clifton St -2-	 St
8/26 Clifton
8/26 Clifton Street ---	 e
17 Love St -2-	 St
17 Love
17 Love Street ---	 e

<div class="alert alert-block alert-info">
<b>Using Pandas DataFrames</b> 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.&nbsp;&nbsp;&nbsp;Use the .read_csv() function to read the csv file
</div>

In [37]:
# Load the data
df1 = pd.read_csv('./Datasets/df_new_street.csv')

<div class="alert alert-block alert-info">
<b>Import all required libraries and folders</b> 
</div>

In [44]:
# Import all required libraries and folders
from bs4 import BeautifulSoup
import urllib.request, urllib.parse, urllib.error

# import Selenium WebDriver
from selenium import webdriver

# import sleep
from time import sleep

# we can send keys as well
from selenium.webdriver.common.keys import Keys

# Regular Expression
import re

# Pandas
import pandas as pd 
import requests

In [74]:
def process():

    start_record_on_file = 1
    end_record_selection = 75
    count = start_record_on_file +1
    for a in df1.a[start_record_on_file:end_record_selection]:
        hold_id = a[0:5]
        hold_address  = a[6:]
        print (hold_id, '\t', hold_address)
#         for i in house_list:
#             print (i)
        count +=1
        find_house_info(hold_address, int(count), hold_id)

In [75]:
# driver = webdriver.Chrome(executable_path="chromedriver/chromedriver.exe")


# driver.get('https://www.realestateview.com.au/property-360/property/804-1-boys-avenue-Blacktown-NSW-2148')
# # r
# # print (r)
# # if r.status_code == "404":
# #     print ('errrrrrrroororororr 404')

In [76]:
def find_house_info(i, count, hold_id):
    driver.get('https://www.realestateview.com.au/property-360/property/' + i)
    
    dd = ('https://www.realestateview.com.au/property-360/property/' + i)
    
    print (str(count), '\t', hold_id, '\t', dd)
    #grab the page source
    html = driver.page_source
    
    # BeautifulSoup it!
    html = BeautifulSoup(html, 'lxml')
    
    data_value = []
    
    # Extract information
    extract_house_info(html, data_value, hold_id)

In [77]:
def extract_house_info(html, data_value, hold_id):
#    print ('UUUUUUUU-->\t', hold_id)
    sale_method_1 = ' '
    sale_method_2 = ' '
    value_zero = 0
    value_space = ' '
    r_data = []
    data_value.append(hold_id)   
# Rooms Beds Cars Lot
    for data in html.find_all('div', {'class':'rooms'}):
        r_data.append(data.text)
        word = '\n'.join(r_data[0:3])
        r_data = word.split('\n')

        while '' in r_data:
            r_data.remove('')
        count = 0    
        for x in r_data:   
            try:
                data_value.append(re.findall(r'\d+', x)[0])
            except:
                if IndexError:
                    data_value.append(value_zero)
            count += 1
            
        count = 4 - count 
#        print ('Count is\t', count)
        while count > 0:
            data_value.append(value_zero)
            count = count - 1
#            print ('count', count)
       
        hold_data = data_value
 
        break
#    print ("1++++", hold_data)
#    return hold_data
    
# Valuation
    r_data = []
    for data in html.find_all('div', {'class':'top-3comps'}):
        r_data.append(data.text)
        word = '\n'.join(r_data[0:3])
        r_data = word.split('\n')
      
        while '' in r_data:
            r_data.remove('')
        break
    try:
        hold_data.append(r_data[3])
    except:
        if IndexError:
            hold_data.append(value_space)

#    print ("2++++", hold_data)

# Sale Method
    r_data = []
    for data in html.find_all('div', {'col-xs-6 col-sm-3 col-md-3 col-lg-3 sale-method'}):
        r_data.append(data.text)
        word = '\n'.join(r_data[0:5])
        r_data = word.split('\n')
    
    while '' in r_data:
        r_data.remove('')

    try:
        if r_data[1] != '':
            auction_sale_1 = r_data[1].strip()
    except:
        if IndexError:
            auction_sale_1 = value_space
        
    try:
        if r_data[2] != '':
            auction_sale_2 = r_data[2].strip()
    except:
        if IndexError:
            auction_sale_2 = value_space
        
    if auction_sale_1 == 'Auction' or auction_sale_1 == 'Private Sale':
        hold_data.append(r_data[1])
        sale_method_1 = r_data[1]
    else:
        hold_data.append(value_space)
    
    if auction_sale_2 == 'Auction' or auction_sale_2 == 'Private Sale':
        hold_data.append(r_data[2])
        sale_method_2 = r_data[2]
    else:
        hold_data.append(value_space)
        
#    print ("3++++", hold_data)
#    print ('r_data\t', r_data)
    
# Date Sold
    r_data = []
    for data in html.find_all('div', {'class':'col-xs-6 col-sm-2 col-md-2 col-lg-2 date'}):
        r_data.append(data.text)
        word = '\n'.join(r_data[0:5])
        r_data = word.split('\n')
    
    while '' in r_data:
        r_data.remove('')
        
    if auction_sale_1 == 'Auction' or auction_sale_1 == 'Private Sale':
        hold_data.append(r_data[1])
    else:
        hold_data.append(value_space)
        
    if auction_sale_2 == 'Auction' or auction_sale_2 == 'Private Sale':
        hold_data.append(r_data[2])
    else:
        hold_data.append(value_space)
        
#    print ("4++++", hold_data)
#    print ('r_data\n', r_data)
    
# Sold Price
    r_data = []
    for data in html.find_all('div', {'class':'col-xs-4 col-sm-2 col-md-2 col-lg-3 price'}):
        r_data.append(data.text)

        word = '\n'.join(r_data[0:5])
        r_data = word.split('\n')
    
    while '' in r_data:
        r_data.remove('')
    if auction_sale_1 == 'Auction' or auction_sale_1 == 'Private Sale':
        try:
            hold_data.append(r_data[1])
        except:
            if IndexError:
                data_value.append(value_space)
    else:
        hold_data.append(value_space)
        
    if auction_sale_2 == 'Auction' or auction_sale_2 == 'Private Sale':
        try:
            hold_data.append(r_data[2])
        except:
            if IndexError:
                data_value.append(value_space)
    else:
        hold_data.append(value_space)
#    print ("5++++", hold_data)
#    print ('r_data\n', r_data)
    
# House Blog
    r_data = []
    for data in html.find_all('p', {'class':'magigraph-top'}):
        r_data.append(data.text)

        word = '\n'.join(r_data[0:3])
        r_data = word.split('\n')
    
    while '' in r_data:
        r_data.remove('')

    hold_data.append(r_data[0])
#    print ("6++++", hold_data)
#    print (hold_data)
    datalist.append(hold_data)
    return hold_data

In [78]:
# house_list = ['108a-douglas-road-blacktown-nsw-2148', '7-marampo-street-marayong-nsw-2148',
#               '26-dan-avenue-blacktown-nsw-2148']
# column_names = ['House_Address', 'Beds', 'Bath', 'Cars', 'Lot', 'Estimate', 'DateSold1', 'Sold1', 'DateSold2', 'Sold2', 'Post']

# open the driver
driver = webdriver.Chrome(executable_path="chromedriver/chromedriver.exe")

datalist = [] #empty list
hold_data = ''

process()

# close
driver.close()
#loop has completed

#end the Selenium browser session
driver.quit()
df = pd.DataFrame(datalist, columns = ('id', 'Beds', 'Baths', 'Car', 'Lot', 'Valuation','SateType1', 'SaleType2', 'DateSold1', 'DateSold2', 'SoldPrice1', 'SoldPrice2','Blob'))
df.to_csv('./Datasets/datalist_copy.csv')
df

28723 	 1-kauai-place-Kings-Park-NSW-2148
3 	 28723 	 https://www.realestateview.com.au/property-360/property/1-kauai-place-Kings-Park-NSW-2148
28724 	 2-53-cobham-street-Kings-Park-NSW-2148
4 	 28724 	 https://www.realestateview.com.au/property-360/property/2-53-cobham-street-Kings-Park-NSW-2148
28725 	 181-madagascar-drive-Kings-Park-NSW-2148
5 	 28725 	 https://www.realestateview.com.au/property-360/property/181-madagascar-drive-Kings-Park-NSW-2148
28726 	 91-faulkland-crescent-Kings-Park-NSW-2148
6 	 28726 	 https://www.realestateview.com.au/property-360/property/91-faulkland-crescent-Kings-Park-NSW-2148
28727 	 3-lana-close-Kings-Park-NSW-2148
7 	 28727 	 https://www.realestateview.com.au/property-360/property/3-lana-close-Kings-Park-NSW-2148
28729 	 28-wellesley-crescent-Kings-Park-NSW-2148
8 	 28729 	 https://www.realestateview.com.au/property-360/property/28-wellesley-crescent-Kings-Park-NSW-2148
68248 	 2-21-29-third-avenue-Blacktown-NSW-2148
9 	 68248 	 https://www.realestateview.com.au/property-360/property/2-21-29-third-avenue-Blacktown-NSW-2148
68250 	 28-2-bruce-street-Blacktown-NSW-2148
10 	 68250 	 https://www.realestateview.com.au/property-360/property/28-2-bruce-street-Blacktown-NSW-2148
68251 	 6-ironbark-crescent-Blacktown-NSW-2148
11 	 68251 	 https://www.realestateview.com.au/property-360/property/6-ironbark-crescent-Blacktown-NSW-2148
68252 	 16-glamorgan-street-Blacktown-NSW-2148
12 	 68252 	 https://www.realestateview.com.au/property-360/property/16-glamorgan-street-Blacktown-NSW-2148
68258 	 29-kurrajong-crescent-Blacktown-NSW-2148
13 	 68258 	 https://www.realestateview.com.au/property-360/property/29-kurrajong-crescent-Blacktown-NSW-2148
68260 	 17-dagmar-crescent-Blacktown-NSW-2148
14 	 68260 	 https://www.realestateview.com.au/property-360/property/17-dagmar-crescent-Blacktown-NSW-2148
68262 	 31-filey-street-Blacktown-NSW-2148
15 	 68262 	 https://www.realestateview.com.au/property-360/property/31-filey-street-Blacktown-NSW-2148
68263 	 28-bimbil-street-Blacktown-NSW-2148
16 	 68263 	 https://www.realestateview.com.au/property-360/property/28-bimbil-street-Blacktown-NSW-2148
68267 	 129-stephen-street-Blacktown-NSW-2148
17 	 68267 	 https://www.realestateview.com.au/property-360/property/129-stephen-street-Blacktown-NSW-2148
68272 	 72a-177a-reservoir-road-Blacktown-NSW-2148
18 	 68272 	 https://www.realestateview.com.au/property-360/property/72a-177a-reservoir-road-Blacktown-NSW-2148
68273 	 27-farmingdale-drive-Blacktown-NSW-2148
19 	 68273 	 https://www.realestateview.com.au/property-360/property/27-farmingdale-drive-Blacktown-NSW-2148
68274 	 12-gardenset-grove-Blacktown-NSW-2148
20 	 68274 	 https://www.realestateview.com.au/property-360/property/12-gardenset-grove-Blacktown-NSW-2148
68275 	 34-bellevue-street-Blacktown-NSW-2148
21 	 68275 	 https://www.realestateview.com.au/property-360/property/34-bellevue-street-Blacktown-NSW-2148
68276 	 40-anthony-street-Blacktown-NSW-2148
22 	 68276 	 https://www.realestateview.com.au/property-360/property/40-anthony-street-Blacktown-NSW-2148
68277 	 43-dunstable-road-Blacktown-NSW-2148
23 	 68277 	 https://www.realestateview.com.au/property-360/property/43-dunstable-road-Blacktown-NSW-2148
68278 	 42-buckley-avenue-Blacktown-NSW-2148
24 	 68278 	 https://www.realestateview.com.au/property-360/property/42-buckley-avenue-Blacktown-NSW-2148
68279 	 7-caldwell-place-Blacktown-NSW-2148
25 	 68279 	 https://www.realestateview.com.au/property-360/property/7-caldwell-place-Blacktown-NSW-2148
68286 	 6-craiglea-street-Blacktown-NSW-2148
26 	 68286 	 https://www.realestateview.com.au/property-360/property/6-craiglea-street-Blacktown-NSW-2148
68292 	 21-newman-street-Blacktown-NSW-2148
27 	 68292 	 https://www.realestateview.com.au/property-360/property/21-newman-street-Blacktown-NSW-2148
68294 	 23-brickfield-place-Blacktown-NSW-2148
28 	 68294 	 https://www.realestateview.com.au/property-360/property/23-brickfield-place-Blacktown-NSW-2148
68295 	 64-21-29-third-avenue-Blacktown-NSW-2148
29 	 68295 	 https://www.realestateview.com.au/property-360/property/64-21-29-third-avenue-Blacktown-NSW-2148
68296 	 16-nicholas-street-Blacktown-NSW-2148
30 	 68296 	 https://www.realestateview.com.au/property-360/property/16-nicholas-street-Blacktown-NSW-2148
68301 	 51-burdett-crescent-Blacktown-NSW-2148
31 	 68301 	 https://www.realestateview.com.au/property-360/property/51-burdett-crescent-Blacktown-NSW-2148
68308 	 2-railway-parade-Blacktown-NSW-2148
32 	 68308 	 https://www.realestateview.com.au/property-360/property/2-railway-parade-Blacktown-NSW-2148
68309 	 1-malouf-place-Blacktown-NSW-2148
33 	 68309 	 https://www.realestateview.com.au/property-360/property/1-malouf-place-Blacktown-NSW-2148
68311 	 8-huegill-way-Blacktown-NSW-2148
34 	 68311 	 https://www.realestateview.com.au/property-360/property/8-huegill-way-Blacktown-NSW-2148
68312 	 10-warrigal-street-Blacktown-NSW-2148
35 	 68312 	 https://www.realestateview.com.au/property-360/property/10-warrigal-street-Blacktown-NSW-2148
68318 	 17-becharry-road-Blacktown-NSW-2148
36 	 68318 	 https://www.realestateview.com.au/property-360/property/17-becharry-road-Blacktown-NSW-2148
68319 	 7-16-filey-street-Blacktown-NSW-2148
37 	 68319 	 https://www.realestateview.com.au/property-360/property/7-16-filey-street-Blacktown-NSW-2148
68321 	 3-finlay-street-Blacktown-NSW-2148
38 	 68321 	 https://www.realestateview.com.au/property-360/property/3-finlay-street-Blacktown-NSW-2148
68322 	 21-doonside-crescent-Blacktown-NSW-2148
39 	 68322 	 https://www.realestateview.com.au/property-360/property/21-doonside-crescent-Blacktown-NSW-2148
68324 	 29-highlands-crescent-Blacktown-NSW-2148
40 	 68324 	 https://www.realestateview.com.au/property-360/property/29-highlands-crescent-Blacktown-NSW-2148
68326 	 273-bungarribee-road-Blacktown-NSW-2148
41 	 68326 	 https://www.realestateview.com.au/property-360/property/273-bungarribee-road-Blacktown-NSW-2148
68327 	 61-walters-road-Blacktown-NSW-2148
42 	 68327 	 https://www.realestateview.com.au/property-360/property/61-walters-road-Blacktown-NSW-2148
68332 	 17-savery-crescent-Blacktown-NSW-2148
43 	 68332 	 https://www.realestateview.com.au/property-360/property/17-savery-crescent-Blacktown-NSW-2148
68333 	 34-rutherford-street-Blacktown-NSW-2148
44 	 68333 	 https://www.realestateview.com.au/property-360/property/34-rutherford-street-Blacktown-NSW-2148
68334 	 23-307-flushcombe-road-Blacktown-NSW-2148
45 	 68334 	 https://www.realestateview.com.au/property-360/property/23-307-flushcombe-road-Blacktown-NSW-2148
68335 	 75a-177a-reservoir-road-Blacktown-NSW-2148
46 	 68335 	 https://www.realestateview.com.au/property-360/property/75a-177a-reservoir-road-Blacktown-NSW-2148
68338 	 28a-177a-reservoir-road-Blacktown-NSW-2148
47 	 68338 	 https://www.realestateview.com.au/property-360/property/28a-177a-reservoir-road-Blacktown-NSW-2148
68342 	 46-29-33-kildare-road-Blacktown-NSW-2148
48 	 68342 	 https://www.realestateview.com.au/property-360/property/46-29-33-kildare-road-Blacktown-NSW-2148
68345 	 113-killarney-avenue-Blacktown-NSW-2148
49 	 68345 	 https://www.realestateview.com.au/property-360/property/113-killarney-avenue-Blacktown-NSW-2148
68346 	 5-adella-avenue-Blacktown-NSW-2148
50 	 68346 	 https://www.realestateview.com.au/property-360/property/5-adella-avenue-Blacktown-NSW-2148
68349 	 4-prospect-street-Blacktown-NSW-2148
51 	 68349 	 https://www.realestateview.com.au/property-360/property/4-prospect-street-Blacktown-NSW-2148
68352 	 1-12-dudley-avenue-Blacktown-NSW-2148
52 	 68352 	 https://www.realestateview.com.au/property-360/property/1-12-dudley-avenue-Blacktown-NSW-2148
68354 	 137a-kildare-road-Blacktown-NSW-2148
53 	 68354 	 https://www.realestateview.com.au/property-360/property/137a-kildare-road-Blacktown-NSW-2148
68358 	 16-1-boyd-street-Blacktown-NSW-2148
54 	 68358 	 https://www.realestateview.com.au/property-360/property/16-1-boyd-street-Blacktown-NSW-2148
68360 	 9-irelands-road-Blacktown-NSW-2148
55 	 68360 	 https://www.realestateview.com.au/property-360/property/9-irelands-road-Blacktown-NSW-2148
68362 	 73-5-griffiths-street-Blacktown-NSW-2148
56 	 68362 	 https://www.realestateview.com.au/property-360/property/73-5-griffiths-street-Blacktown-NSW-2148
68364 	 62-tallawong-avenue-Blacktown-NSW-2148

57 	 68364 	 https://www.realestateview.com.au/property-360/property/62-tallawong-avenue-Blacktown-NSW-2148
68368 	 3-12-dudley-avenue-Blacktown-NSW-2148
58 	 68368 	 https://www.realestateview.com.au/property-360/property/3-12-dudley-avenue-Blacktown-NSW-2148
68375 	 12-bimbil-street-Blacktown-NSW-2148
59 	 68375 	 https://www.realestateview.com.au/property-360/property/12-bimbil-street-Blacktown-NSW-2148
68376 	 305-1-griffiths-street-Blacktown-NSW-2148
60 	 68376 	 https://www.realestateview.com.au/property-360/property/305-1-griffiths-street-Blacktown-NSW-2148
68377 	 6-16-oxford-street-Blacktown-NSW-2148
61 	 68377 	 https://www.realestateview.com.au/property-360/property/6-16-oxford-street-Blacktown-NSW-2148
68378 	 26-dan-avenue-Blacktown-NSW-2148
62 	 68378 	 https://www.realestateview.com.au/property-360/property/26-dan-avenue-Blacktown-NSW-2148
68379 	 1-stewart-avenue-Blacktown-NSW-2148
63 	 68379 	 https://www.realestateview.com.au/property-360/property/1-stewart-avenue-Blacktown-NSW-2148
68380 	 17-braddon-street-Blacktown-NSW-2148
64 	 68380 	 https://www.realestateview.com.au/property-360/property/17-braddon-street-Blacktown-NSW-2148
68381 	 57a-balmoral-street-Blacktown-NSW-2148
65 	 68381 	 https://www.realestateview.com.au/property-360/property/57a-balmoral-street-Blacktown-NSW-2148
68383 	 19-16-oxford-street-Blacktown-NSW-2148
66 	 68383 	 https://www.realestateview.com.au/property-360/property/19-16-oxford-street-Blacktown-NSW-2148
68384 	 8-monash-road-Blacktown-NSW-2148
67 	 68384 	 https://www.realestateview.com.au/property-360/property/8-monash-road-Blacktown-NSW-2148
68387 	 29-mort-street-Blacktown-NSW-2148
68 	 68387 	 https://www.realestateview.com.au/property-360/property/29-mort-street-Blacktown-NSW-2148
68390 	 187-kildare-road-Blacktown-NSW-2148
69 	 68390 	 https://www.realestateview.com.au/property-360/property/187-kildare-road-Blacktown-NSW-2148
68391 	 10-valda-street-Blacktown-NSW-2148
70 	 68391 	 https://www.realestateview.com.au/property-360/property/10-valda-street-Blacktown-NSW-2148
68392 	 66-sackville-street-Blacktown-NSW-2148
71 	 68392 	 https://www.realestateview.com.au/property-360/property/66-sackville-street-Blacktown-NSW-2148
68394 	 76-western-crescent-Blacktown-NSW-2148
72 	 68394 	 https://www.realestateview.com.au/property-360/property/76-western-crescent-Blacktown-NSW-2148
68395 	 7-valentine-street-Blacktown-NSW-2148
73 	 68395 	 https://www.realestateview.com.au/property-360/property/7-valentine-street-Blacktown-NSW-2148
68400 	 66-kildare-road-Blacktown-NSW-2148
74 	 68400 	 https://www.realestateview.com.au/property-360/property/66-kildare-road-Blacktown-NSW-2148
68404 	 26-pank-parade-Blacktown-NSW-2148
75 	 68404 	 https://www.realestateview.com.au/property-360/property/26-pank-parade-Blacktown-NSW-2148
68407 	 1-70-swinson-road-Blacktown-NSW-2148
76 	 68407 	 https://www.realestateview.com.au/property-360/property/1-70-swinson-road-Blacktown-NSW-2148

,id,Beds,Baths,Car,Lot,Valuation,SateType1,SaleType2,DateSold1,DateSold2,SoldPrice1,SoldPrice2,Blob
0,28723,4,1,1,567,"$729,333",Private Sale,,Sep 2015,,"$730,000",,"1 Kauai Place, Kings Park 2148 NSW is a house...."
1,28724,2,1,1,0,,,,,,,,"2/53 Cobham Street, Kings Park 2148 NSW is a u..."
2,28725,5,3,2,576,"$895,000",,Private Sale,,Oct 1994,,"$175,000","181 Madagascar Drive, Kings Park 2148 NSW is a..."
3,28726,4,1,2,554,"$732,667",Private Sale,Private Sale,Jun 2014,Mar 2010,"$570,000","$425,000","91 Faulkland Crescent, Kings Park 2148 NSW is ..."
4,28727,4,2,2,0,,,,,,,,This is a house in Kings Park with 4 bedrooms ...
5,28729,3,1,2,550,"$681,667",Private Sale,Private Sale,Mar 2010,Oct 2003,"$418,000","$376,000","This is a house in Kings Park, 2148 with 3 bed..."
6,68248,1,1,1,0,,Private Sale,Auction,Sep 2014,Aug 2012,"$298,000","$205,000","This is a unit in Blacktown, 2148 with 1 bedro..."
7,68250,3,2,2,0,,,,,,,,This is a unit in Blacktown with 3 bedrooms an...
8,68251,4,1,2,525,"$676,000",Auction,,Jun 2018,,"$735,000",,"6 Ironbark Crescent, Blacktown 2148 NSW is a h..."
9,68252,2,2,1,564,"$624,667",,,,,,,16 Glamorgan Street is a house in Blacktown wi...
10,68258,0,0,0,553,"$555,000",,,,,,,"This is a house in Blacktown, 2148 with 4 bedr..."
11,68260,3,1,1,591,,Private Sale,,Aug 2018,,"$640,000",,17 Dagmar Crescent is a house in Blacktown wit...
12,68262,5,3,3,888,"$1,102,333",Auction,Private Sale,Jul 2018,Jul 1997,"$1,381,000","$139,500",31 Filey Street is a house in Blacktown with 5...
13,68263,3,1,2,1759,,Private Sale,,Jul 2018,,"$710,000",,"28 Bimbil Street, Blacktown 2148 NSW is a hous..."
14,68267,3,1,1,1017,"$641,667",,Private Sale,,Aug 2016,,"$775,000","This is a house in Blacktown, 2148 with 3 bedr..."
15,68272,3,2,3,0,,,,,,,,"72A/177A Reservoir Road, Blacktown 2148 NSW is..."
16,68273,6,3,3,544,,,Private Sale,,Apr 1998,,"$96,900","27 Farmingdale Drive, Blacktown 2148 NSW is a ..."
17,68274,5,2,2,532,"$848,333",Private Sale,Private Sale,Jun 2018,Oct 1998,"$922,000","$110,900",This is a house in Blacktown with 5 bedrooms a...
18,68275,3,1,1,599,"$611,000",Private Sale,Private Sale,Jul 2018,May 2009,"$627,500","$309,000",This is a house in Blacktown with 3 bedrooms a...
19,68276,3,3,3,1045,"$758,333",,Private Sale,,Jun 1999,,"$185,250","40 Anthony Street, Blacktown 2148 NSW is a hou..."
20,68277,3,1,2,672,"$628,333",,,,,,,"43 Dunstable Road, Blacktown 2148 NSW is a hou..."
21,68278,0,0,0,0,"$651,667",,,,,,,This is a house in Blacktown with 2 bedrooms a...
22,68279,6,3,4,1041,"$1,168,667",,,,,,,"This is a house in Blacktown, 2148 with 6 bedr..."
23,68286,3,2,2,554,"$711,667",Private Sale,,Apr 1996,,"$129,000",,"This is a house in Blacktown, 2148 with 3 bedr..."
24,68292,3,2,2,762,"$674,000",,Private Sale,,Oct 2011,,"$445,000","21 Newman Street, Blacktown 2148 NSW is a hous..."
25,68294,3,1,1,425,,,,,,,,"23 Brickfield Place, Blacktown 2148 NSW is a h..."
26,68295,2,1,1,0,,Private Sale,,Aug 2018,,,,"64/21-29 Third Avenue, Blacktown 2148 NSW is a..."
27,68296,8,2,4,622,"$761,667",Private Sale,,Jun 2007,,"$500,000",,"16 Nicholas Street, Blacktown 2148 NSW is a ho..."
28,68301,6,3,2,568,"$856,000",,,,,,,This is a house in Blacktown with 4 bedrooms a...
29,68308,5,2,5,922,"$808,333",,,,,,,"2 Railway Parade, Blacktown 2148 NSW has 5 bed..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,68338,2,1,1,0,,,,,,,,This is a unit in Blacktown with 2 bedrooms an...
45,68342,2,1,1,0,,,Private Sale,,Jun 2012,,"$290,000","46/29-33 Kildare Road, Blacktown 2148 NSW is a..."
46,68345,3,1,2,657,"$606,000",,,,,,,"113 Killarney Avenue, Blacktown 2148 NSW is a ..."
47,68346,5,2,2,558,,Auction,,Nov 2018,,"$780,000",,"5 Adella Avenue, Blacktown 2148 NSW is a house..."
48,68349,3,1,4,555,"$651,667",Private Sale,,Jul 2018,,Price,,4 Prospect Street is a house in Blacktown with...
49,68352,3,2,2,317,"$656,000",,Private Sale,,Jul 2018,,,"This is a house in Blacktown, 2148 with 3 bedr..."
50,68354,5,3,2,318,"$856,000",,Private Sale,,Nov 2012,,"$535,000","137A Kildare Road, Blacktown 2148 NSW is a hou..."
51,68358,2,1,1,1706,,,,,,,,"16/1 Boyd Street, Blacktown 2148 NSW is a hous..."
52,68360,4,1,1,1010,"$676,667",Private Sale,Private Sale,May 2018,Aug 1994,"$805,500","$158,000","9 Irelands Road, Blacktown 2148 NSW is a house..."
53,68362,2,1,1,0,,,Private Sale,,May 2016,,"$382,000",73/5 Griffiths Street is a unit in Blacktown w...
54,68364,3,1,2,541,"$617,833",Private Sale,,Dec 2005,,"$281,000",,62 Tallawong Avenue is a house in Blacktown wi...
55,68368,3,2,2,419,"$666,000",,Private Sale,,Dec 2011,,,This is a house in Blacktown with 3 bedrooms a...
56,68375,4,2,1,688,"$705,443",,Auction,,May 2015,,"$775,000","This is a house in Blacktown, 2148 with 4 bedr..."
57,68376,1,1,1,0,,Private Sale,Private Sale,Aug 2015,Jun 2012,"$371,000","$255,000",This is a unit in Blacktown with 1 bedroom and...
58,68377,2,2,1,0,,,,,,,,"6/16 Oxford Street, Blacktown 2148 NSW is a un..."
59,68378,5,2,4,625,"$808,333",Private Sale,Private Sale,May 2009,Mar 2001,"$160,000","$210,000",26 Dan Avenue is a house in Blacktown with 5 b...
60,68379,4,2,2,552,"$745,333",,,,,,,"1 Stewart Avenue, Blacktown 2148 NSW is a hous..."
61,68380,3,1,2,813,,,,,,,,"17 Braddon Street, Blacktown 2148 NSW has 3 be..."
62,68381,3,2,2,1024,"$674,000",,Private Sale,,Jul 2018,,,"57A Balmoral Street, Blacktown 2148 NSW is a h..."
63,68383,2,2,1,0,,,,,,,,"19/16 Oxford Street, Blacktown 2148 NSW is a u..."
64,68384,3,1,5,606,"$606,000",,,,,,,This is a house in Blacktown with 3 bedrooms a...
65,68387,3,2,0,564,"$668,333",,,,,,,"This is a house in Blacktown, 2148 with 3 bedr..."
66,68390,3,1,1,450,"$611,667",,Private Sale,,Mar 2010,,,"187 Kildare Road, Blacktown 2148 NSW is a bric..."
67,68391,3,1,1,725,"$597,167",,Private Sale,,Jun 2013,,"$455,000",10 Valda Street is a house in Blacktown with 3...
68,68392,0,0,0,0,"$677,000",,,,,,,66 Sackville Street is a house in Blacktown wi...
69,68394,5,3,1,571,"$866,000",,Private Sale,,Feb 2015,,"$640,000","76 Western Crescent, Blacktown 2148 NSW is a h..."
70,68395,3,1,1,657,,,Private Sale,,Aug 2018,,,This is a house in Blacktown with 3 bedrooms a...
71,68400,3,2,1,1450,"$729,333",,Private Sale,,Mar 2016,,,"66 Kildare Road, Blacktown 2148 NSW is a house..."
72,68404,3,1,0,577,,Private Sale,,Oct 2018,,"$580,000",,"This is a house in Blacktown, 2148 with 3 bedr..."
73,68407,4,2,2,0,,,Private Sale,,Jul 2018,,,"This is a unit in Blacktown, 2148 with 4 bedro..."

In [79]:
# Load the data
df_sellable = pd.read_csv('./Datasets/Sample Data (Modified).csv')
df_mine = pd.read_csv('./Datasets/datalist_copy.csv')

In [80]:
df_sellable.head()

,id,gnaf_address_id,street,suburb,postcode,state_code,latitude,longitude,type,land_sqm,floorplan
0,28722,8503832,72 Madagascar Drive,Kings Park,2148,NSW,-33.738937,150.902040,house,561.0,True
1,28723,8482135,1 Kauai Place,Kings Park,2148,NSW,-33.742233,150.911124,house,559.0,True
2,28724,7866709,2/53 Cobham Street,Kings Park,2148,NSW,-33.741886,150.902220,unit,NaN,True
3,28725,10510214,181 Madagascar Drive,Kings Park,2148,NSW,-33.738475,150.911142,house,NaN,True
4,28726,11825056,91 Faulkland Crescent,Kings Park,2148,NSW,-33.741895,150.904517,house,559.0,True

In [81]:
df_mine.head()

,Unnamed: 0,id,Beds,Baths,Car,Lot,Valuation,SateType1,SaleType2,DateSold1,DateSold2,SoldPrice1,SoldPrice2,Blob
0,0,28723,4,1,1,567,"$729,333",Private Sale,,Sep 2015,,"$730,000",,"1 Kauai Place, Kings Park 2148 NSW is a house...."
1,1,28724,2,1,1,0,,,,,,,,"2/53 Cobham Street, Kings Park 2148 NSW is a u..."
2,2,28725,5,3,2,576,"$895,000",,Private Sale,,Oct 1994,,"$175,000","181 Madagascar Drive, Kings Park 2148 NSW is a..."
3,3,28726,4,1,2,554,"$732,667",Private Sale,Private Sale,Jun 2014,Mar 2010,"$570,000","$425,000","91 Faulkland Crescent, Kings Park 2148 NSW is ..."
4,4,28727,4,2,2,0,,,,,,,,This is a house in Kings Park with 4 bedrooms ...

In [82]:
df_new = pd.merge(df_sellable, df_mine, on='id')

In [83]:
df_new.head()

,id,gnaf_address_id,street,suburb,postcode,state_code,latitude,longitude,type,land_sqm,...,Car,Lot,Valuation,SateType1,SaleType2,DateSold1,DateSold2,SoldPrice1,SoldPrice2,Blob
0,28723,8482135,1 Kauai Place,Kings Park,2148,NSW,-33.742233,150.911124,house,559.0,...,1,567,"$729,333",Private Sale,,Sep 2015,,"$730,000",,"1 Kauai Place, Kings Park 2148 NSW is a house...."
1,28724,7866709,2/53 Cobham Street,Kings Park,2148,NSW,-33.741886,150.902220,unit,NaN,...,1,0,,,,,,,,"2/53 Cobham Street, Kings Park 2148 NSW is a u..."
2,28725,10510214,181 Madagascar Drive,Kings Park,2148,NSW,-33.738475,150.911142,house,NaN,...,2,576,"$895,000",,Private Sale,,Oct 1994,,"$175,000","181 Madagascar Drive, Kings Park 2148 NSW is a..."
3,28726,11825056,91 Faulkland Crescent,Kings Park,2148,NSW,-33.741895,150.904517,house,559.0,...,2,554,"$732,667",Private Sale,Private Sale,Jun 2014,Mar 2010,"$570,000","$425,000","91 Faulkland Crescent, Kings Park 2148 NSW is ..."
4,28727,7846208,3 Lana Close,Kings Park,2148,NSW,-33.739877,150.908244,house,NaN,...,2,0,,,,,,,,This is a house in Kings Park with 4 bedrooms ...

In [85]:
df_new.to_csv('./Datasets/new_file.csv')

In [86]:
df_new.head()

,id,gnaf_address_id,street,suburb,postcode,state_code,latitude,longitude,type,land_sqm,...,Car,Lot,Valuation,SateType1,SaleType2,DateSold1,DateSold2,SoldPrice1,SoldPrice2,Blob
0,28723,8482135,1 Kauai Place,Kings Park,2148,NSW,-33.742233,150.911124,house,559.0,...,1,567,"$729,333",Private Sale,,Sep 2015,,"$730,000",,"1 Kauai Place, Kings Park 2148 NSW is a house...."
1,28724,7866709,2/53 Cobham Street,Kings Park,2148,NSW,-33.741886,150.902220,unit,NaN,...,1,0,,,,,,,,"2/53 Cobham Street, Kings Park 2148 NSW is a u..."
2,28725,10510214,181 Madagascar Drive,Kings Park,2148,NSW,-33.738475,150.911142,house,NaN,...,2,576,"$895,000",,Private Sale,,Oct 1994,,"$175,000","181 Madagascar Drive, Kings Park 2148 NSW is a..."
3,28726,11825056,91 Faulkland Crescent,Kings Park,2148,NSW,-33.741895,150.904517,house,559.0,...,2,554,"$732,667",Private Sale,Private Sale,Jun 2014,Mar 2010,"$570,000","$425,000","91 Faulkland Crescent, Kings Park 2148 NSW is ..."
4,28727,7846208,3 Lana Close,Kings Park,2148,NSW,-33.739877,150.908244,house,NaN,...,2,0,,,,,,,,This is a house in Kings Park with 4 bedrooms ...